PORT=3333

# Supabase
SUPABASE_URL=https://wkbtbbapfddlfumxdage.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndrYnRiYmFwZmRkbGZ1bXhkYWdlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM5ODY4MTIsImV4cCI6MjA5OTU2MjgxMn0.i7UL54fVd2Q0l2w_Tg5zcqzOv235OFel9J3L6kuvRpc
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndrYnRiYmFwZmRkbGZ1bXhkYWdlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzk4NjgxMiwiZXhwIjoyMDk5NTYyODEyfQ.EcMra5JgsUF0eHEKtIYQocu_4czBeIiFrDKYxb0Ws5Y
DATABASE_URL=postgresql://postgres:santa1214diogo@db.wkbtbbapfddlfumxdage.supabase.co:5432/postgres

# VAPID
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:contato@seudominio.com
